@import url(//fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


.project-display {
    margin: 2.5px 0px 20px 0px;
    display: flex;
    justify-content: center;
    left: 50;

    &.images{
        margin-top: 15px;

        &.line-2{
            margin-top: 0px;
        }
    }
}

.project-photo{
    margin-left: 15px;
    margin-right: 15px;
}

.project-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    // width: 50vw;
    text-align: center;

}

.project-tagline {
    margin-bottom: 5px;
    // width: 80%;
}

.project-title {
    text-align: center;
    font-size: large;
    transform: scale(2);

    &.pocket{
        font-family: 'Ubuntu Mono', monospace;
        color: white;
        text-transform: lowercase;
    }

    &.guthub{
        color: rgba(244, 222, 206, 0.957);
        font-family: "Vibur";
        // text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984474, 0 0 0.5em #ff984477, 0 0 0.1em #ff984466;
        transform: scale(3);
        
    }

    &.ghostd{
        font-family: 'Nosifer', cursive;
        color: #fff;
        opacity: .55;
    }

    &.space{
        font-family: 'Kdam Thmor Pro', sans-serif;
        color: white;
    }

    &.photo{
        font-size: 12px;
    }

    &.default{
        text-shadow: rgb(126, 126, 126) 0px 0px 10px;
        text-transform: lowercase;

    }
}

.project-header {
    font-family: 'Ubuntu Mono', monospace;
    color: transparent;
    text-transform: lowercase;
    text-align: center;
    user-select: none;
    margin-bottom: 0px;
  }

.project-options {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    // margin-top: 80px;
    margin-bottom: 25px;

    button {
        background: transparent;
        outline: none;
        border: none;
    }
}


.project-logo{
    transition: .5s;
    cursor: pointer;
    // margin-left: 50px;
    // margin-right: 50px;
    width: 50px;
    transform: scale(1.25);

    &.ghost{
        filter: opacity(.45) drop-shadow(0 0 0 red);
        transition: .5s;
    }

    &.unClicked{
    filter: grayscale(100%);
    transition: .5s;
        &:hover{
        transform: scale(1.1);
        filter: grayscale(50%);
        transition: .5s;
    }
    }

    &.ghostd{
    filter: invert(50%);
    transition: .5s;
        &:hover{
        filter: invert(25%);
        transition: .5s;
        }

    }
}

.project-features{
    margin-bottom: 10px;
}

.project-link {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 47.5px;
    color: white;
}

.madewidth{
    display: flex;
    flex-direction: column;

}
